body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    color: #fff;
  }

  #app {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width:40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .headings {
    color: #2c3e50;
  }
  .input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
   color:black;
   width: 80%;  
}
  .buttn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buttn:hover {
    background-color: #27ae60;
  }


  .images{
    height: 150px;
    width: 250px;
    display: block;
}
.humidity{
    height: 50px;
    width: 50px;
    object-fit: contain;
}
.cont{
    width:70%;}

    @media screen and (max-width: 1170px) {
        #app{
            width: 60%;
        }
      }
      @media screen and (max-width: 770px) {
        #app{
            width: 80%;
        }
      }
      @media screen and (max-width: 530px) {
        #app{
            width: 100%;
        }
      }